@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --white-color: hsl(196, 97%, 55%);
  --black-color: hsl(0, 0%, 0%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 2rem;
  --normal-font-size: 1rem;
  --small-font-size: .813rem;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== LOGIN ===============*/
.login {
  position: relative;
  height: 100vh;
  display: grid;
  align-items: center;
}

.login__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1; /* Assurez-vous que l'image de fond est derrière les autres éléments */
  }
  

.login__form {
  position: relative;
  margin-inline: 1.5rem;
  background-color: hsla(0, 0%, 100%, .01);
  border: 2px solid hsla(200, 94%, 51%, 0.7);
  padding: 2.5rem 1rem;
  color: var(--white-color);
  border-radius: 1rem;
  backdrop-filter: blur(16px);
}

.login__title {
  text-align: center;
  font-size: var(--h1-font-size);
  margin-bottom: 1.25rem;
}

.login__inputs, 
.login__box {
  display: grid;
}

.login__inputs {
  row-gap: 1.35rem;
  margin-bottom: 1rem;
  justify-items: start;
}

.login__box {
  grid-template-columns: 1fr max-content;
  column-gap: .75rem;
  align-items: center;
  border: 2px solid hsla(0, 0%, 100%, .7);
  padding-inline: 4.5rem;
  border-radius: 4rem;
}

.login__input, 
.login__button {
  border: none;
  outline: none;
}

.login__input {
  width: 100%;
  background: none;
  color: var(--white-color);
  padding-block: 1rem;

}

.login__input::placeholder {
  color: var(--white-color);
}

.login__box i {
  font-size: 1.25rem;
}

.login__check, 
.login__check-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login__check {
  margin-bottom: 1rem;
  font-size: var(--small-font-size);
}

.login__check-box {
  column-gap: .5rem;
}

.login__check-input {
  width: 1rem;
  height: 1rem;
  accent-color: var(--white-color);
}

.login__forgot {
  color: var(--white-color);
}

.login__forgot:hover {
  text-decoration: underline;
}

.login__button {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--white-color);
  border-radius: 4rem;
  color: var(--black-color);
  font-weight: 500;
  cursor: pointer;
}

.login__register {
  font-size: var(--small-font-size);
  text-align: center;
}

.login__register a {
  color: var(--white-color);
  font-weight: 500;
}

.login__register a:hover {
  text-decoration: underline;
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {
  .login {
    justify-content: center;
  }
  .login__form {
    width: 420px;
    padding-inline: 2.5rem;
  }
  .login__title {
    margin-bottom: 2rem;
  }
}
/*=============== BASE ===============*/
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body,
input,
button{
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
}

a{
	text-decoration: none;
}

img{
	display: block;
	max-width: 100%;
	height: auto;
}
/*=============== LOGIN ===============*/
.login{
    position: relative;
    height: 100vh;
    display: grid;
    align-items: center;
 
    &__bg{
       position: absolute;
       width: 100%;
       height: 100%;
       object-fit: cover;
       object-position: center;
    }
    &__form{
       position: relative;
       margin-inline: 1.5rem;
       background-color: hsla(0, 0%, 100%, .01);
       border: 2px solid hsla(210, 85%, 52%, 0.7);
       padding: 2.5rem 1rem;
       color: var(--white-color);
       border-radius: 1rem;
       backdrop-filter: blur(16px);
    }
    &__title{
       text-align: center;
       font-size: var(--h1-font-size);
       margin-bottom: 1.25rem;
    }
    &__inputs,
    &__box{
       display: grid;
    }
    &__inputs{
       row-gap: 1.25rem;
       margin-bottom: 1rem;
    }
    &__box{
       grid-template-columns: 1fr max-content;
       column-gap: .75rem;
       align-items: center;
       border: 2px solid hsla(0, 0%, 100%, .7);
       padding-inline: 1.25rem;
       border-radius: 4rem;
    }
    &__input,
    &__button{
       border: none;
       outline: none;
    }
    &__input{
       width: 100%;
       background: none;
       color: var(--white-color);
       padding-block: 1rem;
 
       &::placeholder{
          color: var(--white-color);
       }
    }
    &__box i{
       font-size: 1.25rem;
    }
    &__check,
    &__check-box{
      display: flex;
      justify-content: space-between;
       position: absolute;
       right: 50px;
       align-items: center;
    }
    &__check{
       margin-bottom: 1rem;
       font-size: var(--small-font-size);
 
       &-box{
          column-gap: .5rem;
       }
       &-input{
          width: 1rem;
          height: 1rem;
          accent-color: var(--white-color);
       }
    }
    &__forgot{
       color: var(--white-color);
 
       &:hover{
          text-decoration: underline;
       }
    }
    &__button{
       width: 100%;
       padding: 1rem;
       margin-bottom: 1rem;
       background-color: var(--white-color);
       border-radius: 4rem;
       color: var(--black-color);
       font-weight: 500;
       cursor: pointer;
    }
    &__register{
       font-size: var(--small-font-size);
       text-align: center;
 
       & a{
          color: var(--white-color);
          font-weight: 500;
 
          &:hover{
             text-decoration: underline;
          }
       }
    }
 }
 /*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px){
    .login{
       justify-content: center;
 
       &__form{
          width: 420px;
          padding-inline: 2.5rem;
       }
       &__title{
          margin-bottom: 2rem;
       }
    }
 }
 /* Ajouter des styles pour le message d'erreur */
.login__error {
  color: red;
  text-align: center;
  margin-bottom: 1rem;
}
.login__input[type="email"] {
  color: #000; /* Définir explicitement la couleur du texte */
}

