* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Body styles */
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #eef2f5; /* Couleur de fond plus claire */
    color: #555; /* Couleur du texte plus foncée */
    transition: background-color 0.5s ease;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Pour que le contenu pousse le footer vers le bas */
  }
  
  /* Header styles */
  header {
    background-color:  #2c3e50; /* Vert doux */
    color: #fff;
    padding: 20px 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.5s ease;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }
  
  nav ul li {
    margin: 0 15px; /* Espacement entre les éléments du menu */
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    transition: color 0.3s ease;
  }
  
  nav ul li a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #fff;
    bottom: -3px; /* Ajustement pour le soulignement */
    left: 0;
    transition: width 0.3s ease;
  }
  
  nav ul li a:hover::before {
    width: 100%;
  }
  
  nav ul li a:hover {
    color: #007bff; /* Couleur du texte au survol */
  }
  
  /* Profile section styles */
  .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    flex: 1; /* Pour que le contenu pousse le footer vers le bas */
  }
  
  .profile-info {
    .profile-info {
        display: flex;
        align-items: center;
        flex-direction: column; /* Aligner les éléments en colonne */
        text-align: center; /* Centrer le texte horizontalement */
        margin-bottom: -20px; /* Compenser la marge supérieure du paragraphe */
      }
      
  }
  
  .profile-details {
    width: 300px;
  }
  
  
  .profile-image-container {
    margin-bottom: 20px; /* Ajouter une marge en bas pour l'espace */
  }
  
  .profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: transform 0.5s ease;
  }
  .profile-image:hover {
    transform: rotate(5deg);
    transition: transform 0.3s ease;
  }
  
  
  .profile-details {
    width: 300px;
  }
  
  .profile-bio {
    margin-top: -150px; /* Augmenter la marge supérieure */
    font-family: 'Poppins', sans-serif; /* Utiliser la police Poppins */
    font-size: 16px; /* Modifier la taille de la police */
    line-height: 1.6; /* Espacement des lignes */
  }
  
  
  
  .profile-bio.show {
    opacity: 1; /* Afficher la bibliographie lorsqu'elle est active */
  }
  
  /* Footer styles */
  footer {
    background-color: #2c3e50; /* Vert doux */
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    transition: background-color 0.5s ease;
    margin-top: auto; /* Pour placer le footer en bas de la page */
  }
  .profile:hover .profile-bio {
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  
  
  @keyframes moveDown {
    from {
      transform: translateY(-50px); /* Décalage initial vers le haut */
    }
    to {
      transform: translateY(0); /* Pas de décalage */
    }
  }
  
  .profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: transform 0.5s ease, opacity 0.5s ease;
    animation: moveDown 1s ease forwards; /* Utiliser l'animation moveDown */
  }
  .profile-text-container {
    position: relative;
    width: 50%;
    float: right;
    margin-left: 50px;
  }
  
  .profile-text-container p {
    margin: 0;
    line-height: 1.5;
  }
  
  .profile-text-container span {
    display: inline-block;
    position: absolute;
    overflow: hidden;
    width: auto;
    white-space: nowrap;
    animation: type 2s steps(40) forwards;
  }
  
  @keyframes type {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  